* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.page-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 10px 40px;
}

.trafalgar p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.thanhbar {
    display: flex;
    gap: 40px;
}

.thanhbar>a {
    text-decoration: none;
    color: black;
}


/* VIRTUAL HEALTHCARE */

.Virtural-healthcare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: azure;
    gap: 20px;
    padding: 40px;
}

.Virtural-left {
    flex: 1;
}

.Virtural-left h1 {
    font-size: 40px;
}

.Virtural-healthcare p {
    max-width: 400px;
    line-height: 1.6;
}

.Virtural-right {
    flex: 1;
}

.Virtural-healthcare img {
    display: block;
    max-width: 100%;
    height: auto;
}

.Virtural-healthcare button {
    border-radius: 15px;
    background-color: rgb(76, 76, 230);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}