.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 10px 40px;
}

.thanhbar>a {
    text-decoration: none;
}

.thanhbar {
    gap: 40px;
    display: flex;
}

.Virtural-healthcare {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: azure;
    gap: 20px;
}

.Virtural-healthcare img {
    max-width: 100%;
    height: auto;
}

.Virtural-healthcare button {
    border-radius: 15px;
    background-color: rgb(76, 76, 230);
    color: white;
    border: none;
    padding: 10px 10px;
}

.Virtural-left {
    flex: 1;
}

.Virtural-right {
    flex: 1;
}

.Virtural-healthcare p {
    max-width: 400px;
}